<h1>All Sponsored Posts</h1>

<% @sponsored_posts.each do |post| %>
  <div class="media">
    <div class="media-body">
      <h4 class="media-heading">
          <%= link_to post.title, topic_sponsored_post_path(post.topic, post.id) %>
      </h4>
    </div>
  </div>
<% end %>
